<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leap.avatar">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AcatarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity android:name=".presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.auth.LoginActivity" />
        <activity android:name=".presentation.auth.RegisterActivity" />
        <activity android:name=".presentation.auth.AgreementActivity" />
        <activity android:name=".presentation.test.TestActivity" />
        <activity android:name=".presentation.frame.FrameActivity" />
        <activity android:name=".presentation.function.ThrottleActivity" />
        <activity android:name=".presentation.recreation.RecreationActivity" />
        <activity android:name=".presentation.frame.PullActivity" />
        <activity android:name=".presentation.frame.PupActivity" />
        <activity android:name=".presentation.frame.QRScannerActivity" />
        <activity android:name=".presentation.frame.QRSActivity" />
        <activity android:name=".presentation.function.FunctionActivity" />
    </application>

</manifest>